md-content.md-hue-1.main-content(layout="column")
    md-toolbar(layout="row", layout-align="top")
        .md-toolbar-tools
            h1 Dashboard demo application

    md-content.md-hue-1.background-image(flex, layout="row", layout-align="center center", style='height: 100%')

        md-whiteframe.md-whiteframe-5dp.animation-opacity(ng-show='canShowLoginForm && !user.authenticated')
            md-toolbar
                .md-toolbar-tools
                    h2 Please login using one of following services
            md-content.login-form(layout="row", layout-align="center center")
                    md-button.md-raised(ng-click="authPopup('google')")
                        i.fa.fa-lg.fa-google
                        | Google

                    md-button.md-raised(ng-click="authPopup('facebook')")
                        i.fa.fa-lg.fa-facebook
                        | Facebook

                    //md-button.md-raised(ng-click="authPopup('github')")
                        i.fa.fa-lg.fa-github
                        | Github

                    md-button.md-raised(ng-click="authAnonymously()")
                        i.fa.fa-lg.fa-user
                        | Anonym

            md-content.disclaimer(layout="row")
                    | * This demo application has a "developing" status and better viewing with following browsers:
                    | Google chrome, Firefox and Safary.
                    | Other browsers may contain problems with view

