.animation-opacity
  &.ng-hide-remove
    opacity: 0
    transition: opacity .3s  ease
    &-active
      opacity: 1
  &.ng-hide-add
    opacity: 1
    transition: opacity .3s  ease
    &-active
      opacity: 0
