VENDOR_PATH = "../../vendor"
@import 'nib'

body
  height: 100%
  border-radius 15px


a.sourcecode-link
  width 200px
  position fixed
  right -45px
  top 45px
  height 26px
  background-color #FED46F
  text-align center
  padding 4px
  transform rotate(45deg)
  color black
  font-weight bold
  text-decoration none



