VENDOR_PATH = "../../vendor/"

@import VENDOR_PATH + "normalize-css/normalize.css"
@import VENDOR_PATH + "angular-material/angular-material.css"

@import 'nib'
@import 'css/main'
@import 'css/animations'
