doctype html
html(ng-app=APPLICATION)
    head
        title Accounts
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")

        link(type='text/css', href='/app.css', rel='stylesheet')

        script(src='/vendor.js')
        script(src='/app.js')

    body(ng-controller='MainController')
        a.sourcecode-link(href="https://github.com/stervets/dashboard", target="_blank") View source code