doctype html
html
  head
    title=APPLICATION.TITLE
    meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")

    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    link(type='text/css', href='/app.css', rel='stylesheet')

    script(src='/vendor.js')
    script(src='/app.js')

  body(ng-app=APPLICATION.NAME)
    ng-view
    //a.sourcecode-link(href="https://github.com/stervets/dashboard", target="_blank") View source code